/* You can delete / re-write this img class  */
img {
  max-width: 230px;
}
/* Happy coding! */
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: DodgerBlue;
}
.card {
  width: 15rem;
  height: 35rem;
  margin: 4rem;
  padding: 3rem;
  border: 0.5rem solid;
  border-style: solid;
  font-size: larger;
}
.cardVader {
  background-color: darkslateblue;
  text-shadow: 1px 1px 4px yellowgreen;
}
.cardYoda {
  background-color: lightgoldenrodyellow;
  text-shadow: 1px 1px 4px purple;
}
.mainHeader {
  text-shadow: 2px 2px 8px #ff0000;
  font-size: 5cap;
  text-align: center;
}
