/* You can delete / re-write this img class  */
img {
  max-width: 230px;
}
/* Happy coding! */
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: DodgerBlue;
}
.card {
  width: 15rem;
  height: 35rem;
  margin: 4rem;
  padding: 3rem;
  border: 0.5rem solid;
  border-style: solid;
  font-size: larger;
}
.cardVader {
  background-color: darkslateblue;
  text-shadow: 1px 1px 4px yellowgreen;
}
.cardYoda {
  background-color: lightgoldenrodyellow;
  text-shadow: 1px 1px 4px purple;
}
.cardLego {
  background-color: rgb(139, 61, 122);
  text-shadow: 1px 1px 4px yellowgreen;
}
.cardBreakdance {
  background-color: rgb(240, 147, 8);
  text-shadow: 1px 1px 4px purple;
}
.mainHeader {
  text-shadow: 2px 2px 8px #ff0000;
  font-size: 5cap;
  text-align: center;
}
.button {
  text-align: center;
  margin: 2rem;
  border-style: solid;
  font-size: large;
  padding: 15px 25px;
  font-size: 24px;
  font-weight: bold;
  outline: blue;
  border-radius: 15px;
  font-family: "Serif";
  cursor: pointer;
  box-shadow: 0 8px 8px 0, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.button:hover {
  background-color: #4caf50;
  color: yellow;
}
